---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
).slice(0, 5);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<script type="application/ld+json">
			{JSON.stringify({
				'@context': 'https://schema.org',
				'@type': 'Person',
				name: 'Harry McKay-Roper',
				url: new URL('/', Astro.site).toString(),
				email: 'hello@harrymckayroper.com',
				sameAs: [
					'https://github.com/Aldian1',
					'https://cal.com/harrymckayroper',
					'https://imaginaryspace.co.uk',
				],
			})}
		</script>
	</head>
	<body>
		<Header />
		<main>
			<section>
				<h1>Welcome</h1>
				<p>This is my personal site where I share my thoughts on Space, Ai, Robotics and futurism. You can subscribe by bookmarking this site.</p>
			</section>
			<section>
				<h2>Latest posts</h2>
				<ul>
					{posts.map((post) => (
						<li>
							<a href={`/blog/${post.id}/`}>
								{post.data.title}
								<span style="color: rgb(var(--gray));"> — <FormattedDate date={post.data.pubDate} /></span>
							</a>
						</li>
					))}
				</ul>
				<p><a href="/blog">View all posts →</a></p>
			</section>
		</main>
		<Footer />
	</body>
</html>
